body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background: gray;
  display: flex;
  justify-content: center;
  align-items: center;
}

#wrapper {
  width: 1000px;
  height: 500px;
  background-color: white;
}

rect.bar {
  /* -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  -webkit-transition: all 0.25s;
  transition: all 0.25s; */
}

/* rect.bar:hover {
  fill: aqua;
} */